.ban img{
    width: 110%;
    max-width: 100%;
    
}
.inner-banner{
    position: absolute;
    top: 10%;
    left: 0;
    width: 90%;
    text-align: center;

}
h2 {color:#894511 !important}

    


